<!DOCTYPE html>
<html lang="FR">
<head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->

    <!-- Bootstrap -->
    <link href="{{asset('assets/vendor/bootstrap/dist/css/bootstrap.css')}}" rel="stylesheet">

    <!-- jQuery library -->
    <script src="{{asset('assets/vendor/jquery/dist/jquery.js')}}" ></script>

    <style>
        body{
            background-color: #ffffff;
        }
        header{
            box-shadow: 5px 5px 5px silver;
            border: 1px solid black;
            text-align: center;
        }
    </style>

</head>
<body>
<header class="">
    <img src="{{asset('assets/vendor/img/smartsurvey2.jpg')}}" style="width: 50%">
</header>
<ol class="breadcrumb">
    <li><a href="form">Créer un formulaire</a></li>
    <li><a href="listform">Listes des formulaires</a></li>
    <li><a href="/">Notes</a></li>
</ol>
<div class="panel panel-danger">
    <section id="content">
        {% block content %}
        {% endblock %}
    </section>
</div>

<footer>
    Adrien MICHEL/ Clément HÉMEURY/ Anthony ARÈNES/ Ciprian PINTILIE/ Jean-Charles LEMAIRE
</footer>
</body>
</html>