{% extends '::master.html.twig' %}
{% block content %}
    <form>
        <fieldset class="form-group">
            <div class="form-check">
                TAMERE ANTHO
            </div>
        </fieldset>
    </form>
{% endblock %}