{% extends '::master.html.twig' %}
{% block content %}
<div class="well">
    <div class="container-fluid" style="text-align: center">
        <div class="row">
            <div class="col-md-8">
                Titre

            </div>
            <div class="col-md-4">
                Actions
            </div>
        </div>
        {% for formulaire in formulaires %}
            <div class="row" >
                <div class="col-md-8" >
                    {{ formulaire.title }}
                </div>
                <div class="col-md-2">
                    <button id="{{ formulaire.id }}"  class = "btn-primary" >
                        Show
                    </button>
                </div>
                <div class="col-md-2">
                    <button class = "btn-primary" >
                        edit
                    </button>
                </div>
            </div>
        {% endfor %}

    </div>
</div>
{% endblock %}