{% extends '::master.html.twig' %}
{% block content %}
    <div class="well">
        <div class="container-fluid" style="text-align: center">
            <!--<div class ="row">
                <div class="col-md-3"><label>Titre du formulaire : </label></div>
                <div class="col-md-9" style="margin-left: -140px"> {{ form(form.titre) }} </div>
            </div>-->

            <div class ="row">
               <!-- <div class="col-md-3"><label>Question : </label></div>-->
                <div > {{ form(form) }} </div>
            </div>

        <!--<div class ="row">
                <div class="col-md-3"><label>Question : </label></div>
                <div class="col-md-9" style="margin-left: -140px"> {{ form(form.questionnaires) }} </div>
            </div>
            <div class ="row">
                <div class="col-md-6" ><label>Réponse :</label></div>
                    <div class="col-md-2" style="margin-left: -270px"> {{ form(form.reponses) }} </div>
            </div>-->
    <!--<button type="submit" class="btn btn-default">Envoyer</button>-->
        </div>
    </div>
{% endblock %}