{% extends '::master.html.twig' %}
{% block content %}
    <div class="well">
        <div class="container-fluid" style="text-align: center">
            Question : {{ form(form.titre) }}
            <div class="container-fluid" style="text-align: center">
                    Réponse : {{ form(form.reponse) }}
            </div>
        </div>
    </div>
{% endblock %}