{% extends '::master.html.twig' %}
{% block content %}
    <div class="well">
        <div class="container-fluid" style="text-align: center">
            <div class=form-control">
               <!-- <div class="col-md-3"><label>Question : </label></div>-->
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}