{% extends '::master.html.twig' %}
{% block content %}
    <div class="well">
        <div class="container-fluid" style="text-align: center">
            Question : {{ form(form) }}
        </div>
    </div>
{% endblock %}