{% extends '::master.html.twig' %}
{% block content %}
    <div class="well">
        <div class="container-fluid" style="text-align: center">
               <!-- <div class="col-md-3"><label>Question : </label></div>-->
                {{ form_start(form, {'attr': {'class': 'form-control'} }) }}
                {{ form_widget(form) }}
                     <input type="submit" value="+"
                   class="btn btn-default pull-right"  onclick="msg()"/>
                    <script>
                        function msg() {
                            alert();
                        }
                    </script>
                {{ form_end(form) }}
        </div>
    </div>
{% endblock %}