{% extends '::master.html.twig' %}
{% block content %}
    <div class="well">
        <div class="container-fluid" style="text-align: center">
            <div class ="row">

                Vous avez {{ compteur }}   réponses.

            </div>
        </div>

    </div>


{% endblock %}